.update-message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 450px;
    margin: 20px auto;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    z-index: 10;

    position: absolute;
    bottom: 10%;
    left: 30%;
}

.container-header {
    text-align: center;
    margin: 5px auto;
    color: #182533;
}
.container-header hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.message-input {
    width: 80%;
    height: 300px;
    margin: 5px 10px;
    border-radius: 10px;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.button-container button {
    border-radius: 10px;
    padding: 5px 20px;
    margin: 5px 10px;
}