.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    height: 70px;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    top: 50px;

    height: 70px;
    margin: 0 auto;
}
.left-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.left-part div {
    padding: 10px 25px;
}