.message-container {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #2B5278;
}
.messageBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.my {
    margin-left: 40%;
    margin-right: 5px;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #799BBC;
}
.message-header {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.message-controls {
    height: auto;
    font-size: 18px;
    background-color: #182533;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.message-controls-between {
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
}
.message-controls-hidden .message-controls {
    visibility: hidden;
}
.message-controls-hidden:hover .message-controls {
    visibility: visible;
}

.disabled-controll {
    background-color: #e0e2e4f5;
}
.avatar {
    margin: 10px;
}
.avatar img {
    width: 70px;
    border-radius: 50%;
}

.message-text{
    color: white;
}

.message-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    height: auto;
    margin-left: 5px;
}